.hud-background {
  background: black;
  min-height: 100vh;
  color: white;
}
.hud-layout {
  display: flex;
  margin-top: 60px;
}
.widget {
  border: 2px solid #00ff00;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  background: rgba(0,0,0,0.85);
  box-shadow: 0 0 10px #0f0;
}
